@use "sass:meta";

::ng-deep :root {
}

:host {
    ::ng-deep {
        @include meta.load-css('../../styles/include/mat-icon');
    }

    display: block;
    font-family: var( --nrcl-font-family );
    position: relative;
    min-height: 40px;

    .summary {
        --nrcl-filter-container-width: min-content; 
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        white-space: nowrap;
    }

    .pagination {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        ::ng-deep .ngx-pagination {
            text-align: center;
            padding-inline-start: 0;
            margin: 0;

            li {
                border-left: #c6c8cb solid 1px;
                border-top: #c6c8cb solid 1px;
                border-bottom: #c6c8cb solid 1px;
                border-right: none;
                vertical-align: middle;
                margin: 0;
                height: 35px;
                padding: 0;

                a {
                    padding: 0;
                    line-height: 35px;
                    text-decoration: none;
                }

                & > * > span {
                    padding: 0 15px;
                    line-height: 35px;
                }

                &.current {
                    //background-color: $colour-blue;

                    color: #003366;
                    font-weight: bold;
                    background: white;
                    border: 2px solid #003366;
                    border-radius: 2px;
                }

                &.disabled span {
                    display: none;
                }

                &:first-child {
                    border-left: none;
                    border-top: none;
                    border-bottom: none;
                }

                &:last-child {
                    border-top: none;
                    border-bottom: none;
                }
            }

            a, button {
                &:hover {
                    color: #131313;
                    background-color: #FFD3A0;
                }
            }

            .pagination-next, .pagination-previous {
                a, &.disabled {
                    &::after, &::before {
                        font-family: 'Material Symbols Outlined';
                        vertical-align: middle;
                        display: inline;
                        font-size: 25px;
                        margin: 0;
                        line-height: 40px;
                        padding: 0 10px;
                    }
                }
            }

            .pagination-previous {
                a, &.disabled {
                    &::before {
                        content: 'arrow_back';
                    }
                }
            }

            .pagination-next {
                a, &.disabled {
                    &::after {
                        content: 'arrow_forward';
                    }
                }
            }
        }
    }

    .page-size {
        --nrcl-filter-select-width: 140px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        display: flex;
        gap: 8px;
        align-items: center;
        pointer-events: auto;
    }

    &.width-restrictive {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var( --nrcl-gutter-space );

        .summary {
            --nrcl-filter-container-width: auto;
            position: static;
            grid-column: 1;
            grid-row: 1;
        }

        .page-size {
            --nrcl-filter-select-width: auto;            
            position: static;
            grid-column: 2;
            grid-row: 1;
        }

        .pagination {
            position: static;
            grid-column: 1 / span 2;
            grid-row: 2;
        }
    }
}
