::ng-deep :root {
}

:host {        
    display: block;
    border: 1px solid #c6c8cb;
    border-radius: 10px;
    padding: 8px;
    background-color: #f2f2f2;    
    position: relative;
    box-sizing: border-box;

    .filters {
        display: contents;
    }
}

:host-context( .nrcl-device-desktop ) {
    :host {        
        padding-bottom: 0px;

        .search-actions {
            float: right;
            display: flex;        
            gap: 8px;

            .nrcl-button {
                --nrcl-button-width: 95px;
                --nrcl-button-height: 40px;
            }

            .search { 
                display: none;
            }

            .nrcl-device-view {
                display: contents;
            }
        }

        &.has-search .search-actions {
            float: none;
            width: 100%;
            margin-bottom: 8px;

            .search { 
                display: contents;
                --nrcl-filter-search-width: var( --nrcl-filter-width-4 );

                ::ng-deep .nrcl-filter-search {
                    max-width: var( --nrcl-filter-search-width );

                    .mat-mdc-form-field-infix {
                        width: unset;
                    }
                }

                .spacer {
                    flex-grow: 1;
                    min-width: 100px;
                }
            }
        }

        .filters {
            ::ng-deep {
                .nrcl-filter-select, .nrcl-filter-date, .nrcl-filter-container {
                    display: inline-block;
                    margin-right: 8px;
                    margin-bottom: 8px;
                }
            }
        }
    }
}

:host-context( .nrcl-device-mobile ) {
    :host {
        display: flex;
        flex-direction: column;        
        gap: 8px;

        .search-actions {
            display:none;

            .spacer {
                display: none;
            }
        }

        &.has-search .search-actions {
            display:block;
            margin-bottom: 0px;

            .search {
                ::ng-deep .nrcl-filter-search {
                    width: 100%;

                    .mat-mdc-form-field-infix {
                        width: unset;
                    }
                }
            }
        }

        .filters ::ng-deep {
            display: grid;
            grid-template-columns: minmax( 0, 1fr ) minmax( 0, 1fr );
            gap: 8px;

            .nrcl-filter-select {
                --nrcl-filter-select-width: auto !important;
            }

            .nrcl-filter-date {
                --nrcl-filter-date-width: auto !important;
            }

            .nrcl-filter-container {
                --nrcl-filter-container-width: auto !important;
            }
        }

        .mobile-actions {
            display: flex;
            justify-content: flex-end;
            gap: 8px;

            .nrcl-device-view {
                display: contents;
            }
        }
    }
}
