:host {
    .mat-mdc-table {
        .mat-column-attachmentTypeCode {
            flex-basis: 150px;
            flex-grow: 1;
            flex-shrink: 0;
        }

        .mat-column-orgUnit {
            flex-basis: 150px;
            flex-grow: 1;
            flex-shrink: 0;
            word-break: break-word;
        }

        .mat-column-fileName {
            flex-basis: 200px;
            flex-grow: 3;
            flex-shrink: 0;

            .nrcl-button {
                width: 100%;
                --nrcl-button-width: 100%;
            }
        }

        .mat-column-sourceObjectNameCode {
            flex-basis: 60px;
            flex-grow: 0;
            flex-shrink: 0;
        }

        .mat-column-uploadedBy {
            flex-basis: 150px;
            flex-grow: 0;
            flex-shrink: 0;
        }

        .mat-column-uploadedTimestamp {
            flex-basis: 150px;
            flex-grow: 0;
            flex-shrink: 0;
        }

        .mat-column-description {
            flex-basis: 200px;
            flex-grow: 1;
            flex-shrink: 1;
            word-break: break-word;
        }

        .mat-column-download {            
            flex-basis: 90px;
            flex-grow: 0;
            flex-shrink: 0;
            justify-content: center;
        }

        .mat-column-delete {            
            flex-basis: 60px;
            flex-grow: 0;
            flex-shrink: 0;
            justify-content: center;
        }
    }

    .nrcl-row-list-mobile {
        section.filename {
            .value {
                .nrcl-button {
                    width: 100%;
                    --nrcl-button-width: 100%;
                    --nrcl-button-font-weight: bold;
                }
            }
        }
    }
}
