:host {
    .mat-mdc-table {
        .mat-column-attachmentTypeCode {
            min-width: 100px;
        }

        .mat-column-orgUnit {
            min-width: 100px;
            max-width: 200px;
        }

        .mat-column-fileName {
            min-width: 100px;
            max-width: 200px;
        }

        .mat-column-sourceObjectNameCode {
            min-width: 80px;
            max-width: 80px;
        }

        .mat-column-uploadedBy {
            min-width: 140px;
            max-width: 140px;
        }

        .mat-column-uploadedTimestamp {
            min-width: 150px;
            max-width: 150px;
        }

        .mat-column-description {
            width: 100%;
            min-width: 200px;
            max-width: 100px;
        }

        .mat-column-download, .mat-column-delete {            
            .button-container {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
