:host {
    .mat-mdc-table {
        .mat-column-attachmentTypeCode {
            flex-basis: 150px;
            flex-grow: 0;
            flex-shrink: 0;
        }

        .mat-column-fileName {
            flex-basis: 200px;
            flex-grow: 1;
            flex-shrink: 0;
            word-break: break-word;
        }

        .mat-column-sourceObjectNameCode {
            flex-basis: 60px;
            flex-grow: 0;
            flex-shrink: 0;
        }

        .mat-column-uploadedBy {
            flex-basis: 150px;
            flex-grow: 0;
            flex-shrink: 0;
        }

        .mat-column-uploadedTimestamp {
            flex-basis: 150px;
            flex-grow: 0;
            flex-shrink: 0;
        }

        .mat-column-description {
            flex-basis: 200px;
            flex-grow: 1;
            flex-shrink: 0;
            word-break: break-word;
        }

        .mat-column-download, .mat-column-delete {            
            flex-basis: 60px;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }
}
