button {
    &.mat-mdc-fab,
    &.mat-mdc-raised-button,
    &.mat-mdc-button,
    &.mat-mdc-raised-button,
    &.mat-mdc-icon-button,
    &.mat-mdc-outlined-button,
    &.mat-mdc-unelevated-button,
    &.mat-mdc-fab,
    &.mat-mdc-mini-fab .mat-mdc-menu-item {
        font-family: var( --nrcl-font-family );
        font-size: var( --nrcl-font-size );
        white-space: nowrap;
        font-weight: 500;
        
        &[disabled] {
            border: 1px solid #d7d7d7 !important;
        }        
    }
}

button.primary {
    &.mat-mdc-fab,
    &.mat-mdc-raised-button,
    &.mat-mdc-button,
    &.mat-mdc-raised-button,
    &.mat-mdc-icon-button,
    &.mat-mdc-outlined-button,
    &.mat-mdc-unelevated-button,
    &.mat-mdc-fab,
    &.mat-mdc-mini-fab .mat-mdc-menu-item {
        &:not([disabled]) {
            background-color: var( --nrcl-button-primary-background-color );
            color: var( --nrcl-button-primary-foreground-color );

            &.intermediate-action {
                background-color: #2E7940;
            }            
            
            &:hover {
                background-color: var( --nrcl-button-primary-hover-background-color );
            }
        }
    }
}

button.mat-mdc-fab,
button.mat-mdc-raised-button {
    background-color: #AAAAAA;
    color: white;
    font-family: var( --nrcl-font-family );
    font-size: var( --nrcl-font-size );
    box-shadow: none !important;
    border: 1px solid #003366;

    &:not([class*=mat-elevation-z]) {
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
            0px 2px 2px 0px rgba(0, 0, 0, 0.14),
            0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
    }
}

button.mdc-button.right-side-icon {
    display: flex;

    mat-icon {
        order: 1;
        margin-left: 8px;
        margin-right: -4px;
    }
}
