mat-checkbox.mat-mdc-checkbox.mat-accent, 
mat-selection-list .mat-mdc-list-option {
    font-family: var( --nrcl-font-family );
    font-size: var( --nrcl-font-size );

    .mdc-checkbox {
        padding-left: 0;
        padding-right: 0;

        .mdc-checkbox__native-control {
            & ~ .mdc-checkbox__background {
                left: 0;
                border: 1px solid #c6c8cb;
            } 
        }   

        .mdc-checkbox__native-control:enabled {
            & ~ .mdc-checkbox__background {
                background-color: white;
            } 
        }   

        &:hover .mdc-checkbox__native-control:not([disabled])~.mdc-checkbox__ripple,
        .mat-mdc-checkbox-ripple, 
        .mdc-checkbox__ripple {
            position: absolute;
            top: 50%;
            height: 48px;
            left: 50%;
            width: 48px;
            transform: translate(-50%, -50%);            
        }
    }
}

.table-search-header {
    .search-and-filters {
        .field.filter-checkbox-group {
            .checkbox-group {
                gap: 15px;
            }
        }
    }
}
