::ng-deep :root {
    --nrcl-filter-date-width: var( --nrcl-filter-width-2 );
    --nrcl-filter-date-height: var( --nrcl-filter-height );
}

:host {
    --mat-form-field-container-height: calc( var( --nrcl-filter-date-height ) - 4px );
    --mat-form-field-container-vertical-padding: 8px;
    --mat-form-field-container-text-size: 15px;
    --mdc-outlined-text-field-focus-label-text-color: black;
    --mdc-outlined-text-field-hover-label-text-color: black;

    width: var( --nrcl-filter-date-width );
    display: block;

    ::ng-deep {
        .mat-mdc-form-field {
            width: 100%;
        
            .mat-mdc-text-field-wrapper {
                background-color: white;
                height: var( --nrcl-filter-date-height );

                .mat-mdc-form-field-infix {
                    width: var( --nrcl-filter-date-width );
                }
            }
        }
    }
}
