::ng-deep html { 
    height: 100%; 
    --wf1-gutter-space: 16px;

    body.sb-show-main.sb-main-padded { 
        height: 100%;
        padding: var( --display-mode-wrapper-body-padding );
    }

    #storybook-root { 
        height: 100%;

        storybook-root { 
            height: 100%; 
            display: block; 
        }
    }
}
   
:host {
    display: block;
    height: 100%;
}
