@use "sass:meta";

::ng-deep :root {
}

:host {
    ::ng-deep {
    }
    
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: var( --nrcl-gutter-space );
    padding-right: var( --nrcl-gutter-space );
}
