::ng-deep :root {
}

:host {
    display: flex;
    position: relative;
    padding-top: var( --nrcl-gutter-space );
    font-family: var( --nrcl-font-family );

    .headers {
        display: flex;
        flex-direction: column;

        ::ng-deep h1 {            
            font-size: var( --nrcl-font-size-h1 );
            font-weight: 200;
            padding: 0;
            margin: 0;
        }    

        ::ng-deep h2 {
            font-size: var( --nrcl-font-size-h2 );
            font-weight: 200;
            padding: 0;
            margin: 0;
        }    
    }

    .actions {
        align-self: flex-end;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        gap: var( --nrcl-gutter-space );
        position: relative;

        &:empty {
            display: none;
        }
    }

    .loading {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
    }

    &.isLoading {
        .loading {
            display: block;
        }
    }
}

:host-context( .nrcl-device-desktop ) {
    :host {        
        .left-side {
            display: flex;
            flex-direction: column;
        }

        .middle {
            flex-grow: 1;

            .indicator {
                display: flex;
                align-items: center;
                height: var( --nrcl-button-normal-height );
                margin-left: var( --nrcl-gutter-space );
            }
        }

        .right-side {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;        
        }

        &.isLoading {
            .actions > ::ng-deep  *:not( .loading )  {
                visibility: hidden;
            }
        }

    }
}

:host-context( .nrcl-device-mobile ) {
    :host {
        flex-direction: column;
        gap: var( --nrcl-gutter-space );

        .top {
            display: block;

            .headers {
                display: contents;

                ::ng-deep {
                    h1, h2 { 
                        display: block;
                    }
                }
            }

            .indicator {
                float: right;
            }

            .indicator:empty {
                display: none;
            }
        }

        .actions {
            align-self: stretch;
            justify-content: flex-start;
        }

        .bottom {
            display: flex;
            flex-direction: column;

            &:empty {
                display: none;
            }
        }

        &.isLoading {
            .indicator > ::ng-deep  *:not( .loading )  {
                visibility: hidden;
            }
        }

    }
}
