::ng-deep :root {
    --nrcl-application-header-focus-color: #2e5dd7;
    --nrcl-application-header-mobile-min-height: 56px;
    --nrcl-application-header-desktop-min-height: 65px;

    --nrcl-application-header-background-color: #FFFFFF;
    --nrcl-application-header-title-color: #2D2D2D;
    --nrcl-application-header-link-color: #255A90;
    --nrcl-application-header-divider-color: #D8D8D8;
    --nrcl-application-header-surface-color-border-default: #D8D8D8;

    --nrcl-application-header-divider-height: 32px;
    --nrcl-application-header-logo-width: 129px;
    --nrcl-application-header-logo-width-mobile: 100px;
    --nrcl-application-header-border-width-small: 1px;

    --nrcl-application-header-layout-padding-none: 0;
    --nrcl-application-header-layout-padding-small: 0.5rem;
    --nrcl-application-header-layout-padding-medium: 1rem;

    --nrcl-application-header-typography-regular-body: 400 1rem/1.688rem 'BC Sans';
    --nrcl-application-header-typography-bold-h4: 700 1.5rem/2.25rem 'BC Sans';

    --nrcl-application-header-logo-url: url( './assets/bc-wildfire-service.png' );
    --nrcl-application-header-logo-width: 130px;
    --nrcl-application-header-logo-height: 35px;
}

:host {
    display: block;
    font-family: var(--nrcl-font-family);

    header {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: var( --nrcl-application-header-background-color );
        border-bottom: var( --nrcl-application-header-border-width-small ) solid var(--nrcl-application-header-surface-color-border-default);
        min-height: var( --nrcl-application-header-desktop-min-height );
        //padding: var(--nrcl-application-header-layout-padding-none) var(--nrcl-application-header-layout-padding-medium);
        width: 100%;
        //flex-grow: 1;

        .logo-title {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            align-items: center;

            gap: var(--nrcl-application-header-layout-padding-medium);

            width: 100%;
            min-height: var(--nrcl-application-header-desktop-min-height);

            .logo {
                display: inline-block;
                background-image: var( --nrcl-application-header-logo-url );
                background-size: contain;
                background-position: left center;
                background-repeat: no-repeat;
                height: var( --nrcl-application-header-logo-height );
                width: var( --nrcl-application-header-logo-width );

                &:focus-visible {
                    outline: 3px solid var(--nrcl-application-header-focus-color);
                    outline-offset: 4px;
                }
            }

            .skip {
                position: absolute;
                margin-left: -100000px;
                top: 0;

                font: var(--nrcl-application-header-typography-regular-body);
                line-height: 1.2;
                padding: 0.5rem 0.75rem;

                background: var(--nrcl-application-header-background-color);
                color: var(--nrcl-application-header-link-color);

                text-decoration: underline;

                &:focus-visible {
                    margin-left: 0;
                    top: 1rem;
                    z-index: 1000;

                    outline: 3px solid var(--nrcl-application-header-focus-color);
                    outline-offset: 2px;
                }
            }

            .divider {
                display: block;
                width: var( --nrcl-application-header-border-width-small );
                height: var( --nrcl-application-header-desktop-min-height );
                border-left: var( --nrcl-application-header-border-width-small ) solid var( --nrcl-application-header-surface-color-border-default );
            }

            .title {
                margin: 0;
                flex-grow:1;

                font: var(--nrcl-application-header-typography-bold-h4);
                color: var(--nrcl-application-header-title-color);

                white-space: normal;
                overflow-wrap: break-word;
            }
        }
    }
}


/*

.skip-link {
    position: absolute;
    margin-left: -100000px;
    top: 0;

    font: var(--nrcl-application-header-typography-regular-body);
    line-height: 1.2;
    padding: 0.5rem 0.75rem;

    background: var(--nrcl-application-header-background-color);
    color: var(--nrcl-application-header-link-color);

    text-decoration: underline;

    &:focus-visible {
        margin-left: 0;
        top: 1rem;
        z-index: 1000;

        outline: 3px solid var(--nrcl-application-header-focus-color);
        outline-offset: 2px;
    }
}
.logo {
    width: var(--nrcl-application-header-logo-width);
    min-width: var(--nrcl-application-header-logo-width);
    height: auto;
}

.logo-link {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    &:focus-visible {
        outline: 3px solid var(--nrcl-application-header-focus-color);
        outline-offset: 1px;
    }
}

.desktop {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--nrcl-application-header-background-color);
    border-bottom: var(--nrcl-application-header-border-width-small) solid
    var(--nrcl-application-header-surface-color-border-default);
    min-height: var(--nrcl-application-header-desktop-min-height);
    padding: var(--nrcl-application-header-layout-padding-none) var(--nrcl-application-header-layout-padding-medium);
    width: 100%;
    flex-grow: 1;
}

.desktop-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: var(--nrcl-application-header-layout-padding-medium);

    width: 100%;
    min-height: var(--nrcl-application-header-desktop-min-height);
}

.desktop-title {
    margin: 0;
    flex-grow:1;

    font: var(--nrcl-application-header-typography-bold-h4);
    color: var(--nrcl-application-header-title-color);

    white-space: normal;
    overflow-wrap: break-word;
}

.desktop-brand {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: var(--nrcl-application-header-layout-padding-medium);
    min-width: 0;
}


.desktop-actions {
    display: flex;
    align-items: center;
    gap: var(--nrcl-gutter-space);
    flex-shrink: 0;
    padding-right: 1rem;
    position: relative;
}

.desktop-divider {
    width: var(--nrcl-application-header-border-width-small);
    height: var(--nrcl-application-header-divider-height);
    background-color: var(--nrcl-application-header-divider-color);
}

.mobile .logo {
    width: var(--nrcl-application-header-logo-width-mobile);
    min-width: var(--nrcl-application-header-logo-width-mobile);
}

.mobile {
    display: flex;
    align-items: center;

    width: 100%;

    background-color: var(--nrcl-application-header-background-color);

    box-sizing: border-box;

    border-bottom:
        var(--nrcl-application-header-border-width-small)
        solid
        var(--nrcl-application-header-surface-color-border-default);
}

.mobile-container {
    padding: 0 var(--nrcl-application-header-layout-padding-small);
    overflow: hidden;

    display: flex;
    align-items: center;

    gap: var(--nrcl-device-mobile-gutter-space);

    width: 100%;
    min-height: var(--nrcl-application-header-mobile-min-height);
    max-width: 100%;

}

.mobile-title {
    flex: 1 1 0;
    min-width: 0;
    margin: 0;
    color: var(--nrcl-application-header-title-color);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.1;
    white-space: normal;
    overflow: visible;
    
}

.mobile-actions {
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}


*/