:host {
    &.direction-horizontal {
        display: inline-flex;       
        width: var( --nrcl-gutter-space );
        align-items: stretch;

        &.divider-position-before {
            justify-content: flex-start;
        }

        &.divider-position-middle {
            justify-content: center;            
        }

        &.divider-position-after {
            justify-content: flex-end;            
        }

        &.divider-position-before, &.divider-position-middle, &.divider-position-after {
            width: calc( var( --nrcl-gap-multiple ) * var( --nrcl-gutter-space ) );
        
            .divider {
                width: 1px;
                height: 100%;
                border-right: 1px solid var( --nrcl-divider-color );
            }
        }
    }

    &.direction-vertical {
        display: flex;
        height: var( --nrcl-gutter-space );

        &.divider-position-before {
            align-items: flex-start;
        }

        &.divider-position-middle {
            align-items: center;            
        }

        &.divider-position-after {
            align-items: flex-end;            
        }

        &.divider-position-before, &.divider-position-middle, &.divider-position-after {
            height: calc( var( --nrcl-gap-multiple ) * var( --nrcl-gutter-space ) );

            .divider {
                height: 1px;
                width: 100%;
                border-bottom: 1px solid var( --nrcl-divider-color );
            }
        }
    }
}
