@import '../variables';

.mat-accordion {
    & > wfrm-base-expansion-panel .mat-expansion-panel-spacing:last-child,
    & > *:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
        margin-bottom: var(--wf1-gutter-space) !important;
    }

    .mat-expansion-panel-spacing:last-child,
    .mat-accordion>*:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
        margin-bottom: var(--wf1-gutter-space);
    }

    mat-expansion-panel:not(.mat-expanded),
    mat-expansion-panel.mat-expansion-panel-spacing {
        // margin: var(--wf1-gutter-space) var(--wf1-gutter-space);                        

        .mat-expansion-panel-header {
            // padding-left: var(--wf1-gutter-space);
            // padding-right: var(--wf1-gutter-space);
            // height: unset !important;
            // min-height: 50px !important;
            // border-bottom: 1px solid $colour-light-grey;
            // border-bottom-left-radius: 0;
            // border-bottom-right-radius: 0;
            // font-family: $font-family-main;

            &[aria-disabled=true] {
                color: unset;
            }

            .mat-content {
                // margin-left: 0;
                
                // .expansion-header {
                //     align-items: center;
                //     padding: 5px 0;
                // }
    
                // mat-panel-description {
                //     flex-grow: unset;
                //     margin-right: 5px;
                //     margin-left: -5px;
                //     display: flex;
                //     flex-direction: column;
                //     justify-content: center;
                // }
       
                // h1 {
                //     padding: 0;
                //     margin: 0;
                // }
            }
        }

        // .mat-expansion-panel-content {
        //     font-family: $font-family-main;
        //     font-size: $font-size;
        
        //     .mat-expansion-panel-body {
        //         padding: 0;
        //     }
        // }

        // .wf1-expansion-panel-body {
        //     padding: 0 var(--wf1-gutter-space) var(--wf1-gutter-space);
        //     font-size: $font-size;
        //     font-family: $font-family-main;

        //     .expansion-header-sub {
        //         display: flex;
        //         justify-content: flex-end;

        //         h3 {
        //             margin-bottom: 0;
        //         }
        //     }

        //     .table-wrapper {
        //         margin: var(--wf1-gutter-space) 0;
        //         width: 100%;
        //     }

        //     .summary-card {
        //         margin: var(--wf1-gutter-space) 0 0 0;
        //     }
        //     /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        //     mat-card.mat-mdc-card.wf1-resources-header-bar {
        //         padding: 0;
        //     }

        //     mat-expansion-panel.mat-expansion-panel-spacing {
        //         margin: var(--wf1-gutter-space) 0 0 0;
        //     }

        //     .card-wrapper {
        //         margin: 0;
        //     }
        // }

        .mat-mdc-tab-body {
            .table-wrapper {
                margin: var(--wf1-gutter-space);
                width: calc(100% - 2*var(--wf1-gutter-space));
            }
        }

        .mat-action-row {
            border-bottom: 1px solid $colour-lighter-grey;
            padding: var(--wf1-gutter-space);
            background-color: $colour-lighter-grey;
        }
    }
}

.mat-expansion-panel-content { 
    font-family: $font-family-main;
    font-size: $font-size;
}
