::ng-deep :root {
}

:host {
    display: inline-block;
    position: relative;

    .loading {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
    }

    &.is-loading {
        .content {
            visibility: hidden;
        }

        .loading {
            display: block;
        }
    }
}
