::ng-deep :root {
    --nrcl-row-list-mobile-border-color: #bebebe;
    --nrcl-row-list-mobile-header-background-color: #f2f2f2;
    --nrcl-row-list-mobile-header-border-color: #d5d5d5;
    --nrcl-row-list-mobile-footer-background-color: #f2f2f2;
    --nrcl-row-list-mobile-footer-border-color: #d5d5d5;
}

:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--nrcl-gutter-space);

    ::ng-deep mat-card.mat-mdc-card {
        margin: 0;
        box-shadow: none;
        border: 2px solid var( --nrcl-row-list-mobile-border-color );
        padding: 0;
        font-family: var(--nrcl-font-family);
        font-size: var(--nrcl-font-size);

        .mat-mdc-card-title {
            padding: var(--nrcl-gutter-space);
            border-bottom: 1px solid var( --nrcl-row-list-mobile-header-border-color );
            background-color: var( --nrcl-row-list-mobile-header-background-color );
            gap: var(--nrcl-gutter-space);
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            margin: 0;

            section[title] {
                flex-direction: column;
                align-items: flex-start;
                text-overflow: ellipsis;
                overflow: hidden;
                display: flex;
                flex: 1;

                h2, h3 {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    line-height: normal;
                    overflow-wrap: break-word;
                }

                h2 {
                    font-size: 18px;
                    font-weight: 400;
                }

                h3 {
                    font-size: 14px;
                    font-weight: 400;
                }
            }

            section[actions] {
                display: flex;
                gap: var(--nrcl-gutter-space);
            }
        }

        .mat-mdc-card-content {
            display: grid;
            grid-template-columns: minmax( 0, 1fr) minmax( 0, 1fr );
            padding: var(--nrcl-gutter-space);
            margin: 0;
            gap: var(--nrcl-gutter-space);

            section {
                display: flex;
                flex-direction: column;

                .mat-label {
                }

                .value {
                    font-weight: bold;
                    width: 100%;
                    overflow-wrap: break-word;
                }

                &[full-width] {
                    grid-column: span 2;
                }
            }
        }

        .mat-mdc-card-footer {
            padding: var(--nrcl-gutter-space);
            border-top: 1px solid var( --nrcl-row-list-mobile-footer-border-color );
            background-color: var( --nrcl-row-list-mobile-footer-background-color );
            gap: var(--nrcl-gutter-space);
            display: flex;
            justify-content: flex-end;
            margin: 0;
        }

    }
}
