:root {
    --nrcl-font-family: BCSans,Noto Sans,Verdana,Arial,sans-serif;
    --nrcl-font-size: 15px;
    --nrcl-font-size-h1: 35px;
    --nrcl-font-size-h2: 22px;
    --nrcl-font-size-h3: 18px;
    --nrcl-font-size-small: 12px;
    --nrcl-font-size-tooltip: 13px;
    --nrcl-border-radius: 5px;

    --nrcl-divider-color: #c6c8cb;

    --nrcl-filter-gap: 8px;
    --nrcl-filter-width-1: 100px; 
    --nrcl-filter-width-2: calc( 2 * var( --nrcl-filter-width-1 ) + 1 * var( --nrcl-filter-gap ) ); 
    --nrcl-filter-width-3: calc( 3 * var( --nrcl-filter-width-1 ) + 2 * var( --nrcl-filter-gap ) ); 
    --nrcl-filter-width-4: calc( 4 * var( --nrcl-filter-width-1 ) + 3 * var( --nrcl-filter-gap ) ); 
    --nrcl-filter-width-5: calc( 5 * var( --nrcl-filter-width-1 ) + 4 * var( --nrcl-filter-gap ) ); 
    --nrcl-filter-width-6: calc( 6 * var( --nrcl-filter-width-1 ) + 5 * var( --nrcl-filter-gap ) ); 
    --nrcl-filter-height: 40px;

    // desktop
    --nrcl-device-desktop-gutter-space: 16px;

    //mobile
    --nrcl-device-mobile-gutter-space: 8px;
}

html {
    .nrcl-device-desktop {
        --nrcl-gutter-space: var( --nrcl-device-desktop-gutter-space );
    }

    .nrcl-device-mobile {
        --nrcl-gutter-space: var( --nrcl-device-mobile-gutter-space );
    }

    .mat-mdc-tooltip-panel {
        .mat-mdc-tooltip {
            max-width: unset;
            
            .mat-mdc-tooltip-surface {
                font-family: var( --nrcl-font-family );
                font-size: var( --nrcl-font-size-tooltip );
            }
        }

        .mdc-tooltip--multiline .mat-mdc-tooltip-surface,
        .mdc-tooltip.multiline .mat-mdc-tooltip-surface {
            white-space: pre-line;
            max-width: unset;
            text-align: left;
        }
    }

    .nrcl-tooltip-panel {
        display: flex;
        flex-direction: column;
        pointer-events: none;
        background-color: #FAF9F8;
        color: #75767D;
        padding: 16px;
        border-radius: 8px;
        font-family: var( --nrcl-font-family );
        font-size: var( --nrcl-font-size-tooltip );
        box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 
                    0px 6px 10px 0px rgba(0,0,0,0.14), 
                    0px 1px 18px 0px rgba(0,0,0,0.12);

        &:has( nrcl-default-tooltip ) {
            padding: 0;
        }

        nrcl-default-tooltip {
            background: #616161;
            color: white;
            padding: 4px;
            font-size: 13px;
            border-radius: 4px;
        }
    }
}
