::ng-deep :root {
    --nrcl-button-normal-height: 36px;
    --nrcl-button-normal-padding-horizontal: 16px;
    --nrcl-button-normal-icon-padding-horizontal: 36px;
    --nrcl-button-normal-font-size: var( --nrcl-font-size );
    --nrcl-button-normal-icon-size: var( --nrcl-icon-normal-size );

    --nrcl-button-small-height: 24px;
    --nrcl-button-small-padding-horizontal: 8px;
    --nrcl-button-small-icon-padding-horizontal: 24px;
    --nrcl-button-small-font-size: var( --nrcl-font-size-small );
    --nrcl-button-small-icon-size: var( --nrcl-icon-small-size );

    --nrcl-button-compact-height: 44px;
    --nrcl-button-compact-padding-horizontal: 8px;
    --nrcl-button-compact-font-size: var( --nrcl-font-size-small );
    --nrcl-button-compact-icon-size: var( --nrcl-icon-normal-size );

    --nrcl-button-primary-foreground-color: white;
    --nrcl-button-primary-background-color: #003366;
    --nrcl-button-primary-border-color: #003366;
    --nrcl-button-primary-hover-background-color: #144a89cc;
    --nrcl-button-primary-disabled-foreground-color: #7E7E7E;
    --nrcl-button-primary-disabled-background-color: #CCCCCC;
    --nrcl-button-primary-disabled-border-color: #CCCCCC;
    --nrcl-button-primary-disabled-hover-background-color: #CCCCCC;

    --nrcl-button-secondary-foreground-color: black;
    --nrcl-button-secondary-background-color: white;
    --nrcl-button-secondary-border-color: #003366;
    --nrcl-button-secondary-hover-background-color: #f5f5f5;
    --nrcl-button-secondary-disabled-foreground-color: #7E7E7E;
    --nrcl-button-secondary-disabled-background-color: #CCCCCC;
    --nrcl-button-secondary-disabled-border-color: #CCCCCC;
    --nrcl-button-secondary-disabled-hover-background-color: #CCCCCC;

    --nrcl-button-tertiary-foreground-color: black;
    --nrcl-button-tertiary-background-color: transparent;
    --nrcl-button-tertiary-border-color: transparent;
    --nrcl-button-tertiary-hover-background-color: rgba(0, 0, 0, 0.04);
    --nrcl-button-tertiary-disabled-foreground-color: #7E7E7E;
    --nrcl-button-tertiary-disabled-background-color: transparent;
    --nrcl-button-tertiary-disabled-border-color: transparent;
    --nrcl-button-tertiary-disabled-hover-background-color: transparent;

    --nrcl-button-anchor-foreground-color: #027DB4;
    --nrcl-button-anchor-background-color: transparent;
    --nrcl-button-anchor-border-color: transparent;
    --nrcl-button-anchor-hover-foreground-color: #F59A23;
    --nrcl-button-anchor-hover-background-color: rgba(0, 0, 0, 0.04);
    --nrcl-button-anchor-disabled-foreground-color: #7E7E7E;
    --nrcl-button-anchor-disabled-background-color: transparent;
    --nrcl-button-anchor-disabled-border-color: transparent;
    --nrcl-button-anchor-disabled-hover-background-color: transparent;
}

:host {
    --nrcl-button-height: 50px;
    --nrcl-icon-padding: 50px;
    --nrcl-button-font-size: 40px;
    --nrcl-button-padding-left: 50px;
    --nrcl-button-padding-right: 50px;
    --nrcl-button-foreground-color: #red;
    --nrcl-button-background-color: #green;
    --nrcl-button-border-color: #yellow;
    --nrcl-button-hover-background-color: #blue;

    button, a {
        display: inline-flex;
        align-items: center;
        position: relative;
        height: var( --nrcl-button-height );
        min-width: var( --nrcl-button-height );
        width: var( --nrcl-button-width );
        cursor: pointer;
        user-select: none;

        margin: 0;
        padding: 0;

        background-color: var( --nrcl-button-background-color );
        color: var( --nrcl-button-foreground-color );
        border-color: var( --nrcl-button-border-color );

        &:hover {
            background-color: var( --nrcl-button-hover-background-color );
        }

        border-width: 1px;
        border-style: solid;
        border-radius: 4px;

        .label, .content {
            font-family: var( --nrcl-font-family );
            font-size: var( --nrcl-button-font-size );
            white-space: nowrap;
            font-weight: 500;
        }

        .content {
            padding-left: var( --nrcl-button-padding-left );
            padding-right: var( --nrcl-button-padding-right );

            display: flex;
            align-items: center;
        }
    }

    &.normal {
        --nrcl-button-height: var( --nrcl-button-normal-height );
        --nrcl-button-padding-left: var( --nrcl-button-normal-padding-horizontal );
        --nrcl-button-padding-right: var( --nrcl-button-normal-padding-horizontal );
        --nrcl-button-font-size: var( --nrcl-button-normal-font-size );
        --nrcl-button-icon-size: var( --nrcl-button-normal-icon-size );
        --nrcl-icon-padding: var( --nrcl-button-normal-icon-padding-horizontal );
    }

    &.small {
        --nrcl-button-height: var( --nrcl-button-small-height );
        --nrcl-button-font-size: var( --nrcl-button-small-font-size );
    }

    &.icon-small {
        --nrcl-button-padding-left: var( --nrcl-button-small-padding-horizontal );
        --nrcl-button-padding-right: var( --nrcl-button-small-padding-horizontal );
        --nrcl-button-icon-size: var( --nrcl-button-small-icon-size );
        --nrcl-icon-padding: var( --nrcl-button-small-icon-padding-horizontal );
    }

    &.compact {
        --nrcl-button-height: var( --nrcl-button-compact-height );
        --nrcl-button-padding-left: var( --nrcl-button-compact-padding-horizontal );
        --nrcl-button-padding-right: var( --nrcl-button-compact-padding-horizontal );
        --nrcl-button-font-size: var( --nrcl-button-compact-font-size );
        --nrcl-button-icon-size: var( --nrcl-button-normal-icon-size );

        button {
            flex-direction: column;
            justify-content: center;
        }
    }

    &.label {
        button, a {
            padding-left: var( --nrcl-button-padding-left );
            padding-right: var( --nrcl-button-padding-right );
        }
    }

    &.icon-left {
        button, a {
            --nrcl-button-padding-left: var( --nrcl-icon-padding );

            .content {
                padding-left: 0;
            }

            ::ng-deep {
                .mat-icon.left, nrcl-icon.left {
                    position: absolute;
                    left: calc( ( var( --nrcl-icon-padding ) - var( --nrcl-button-icon-size ) ) / 2 - 1px );
                }
            }
        }
    }

    &.icon-right {
        button, a {
            --nrcl-button-padding-right: var( --nrcl-icon-padding );

            .content {
                padding-right: 0;
            }

            ::ng-deep {
                .mat-icon.right, nrcl-icon.right {
                    position: absolute;
                    right: calc( ( var( --nrcl-icon-padding ) - var( --nrcl-button-icon-size ) ) / 2 - 1px );
                }
            }
        }
    }

    &.primary {
        --nrcl-button-foreground-color: var( --nrcl-button-primary-foreground-color );
        --nrcl-button-background-color: var( --nrcl-button-primary-background-color );
        --nrcl-button-border-color: var( --nrcl-button-primary-border-color );
        --nrcl-button-hover-background-color: var( --nrcl-button-primary-hover-background-color );

        button {
            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
                0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        }

        &.disabled {
            --nrcl-button-foreground-color: var( --nrcl-button-primary-disabled-foreground-color );
            --nrcl-button-background-color: var( --nrcl-button-primary-disabled-background-color );
            --nrcl-button-border-color: var( --nrcl-button-primary-disabled-border-color );
            --nrcl-button-hover-background-color: var( --nrcl-button-primary-disabled-hover-background-color );
        }
    }

    &.secondary {
        --nrcl-button-foreground-color: var( --nrcl-button-secondary-foreground-color );
        --nrcl-button-background-color: var( --nrcl-button-secondary-background-color );
        --nrcl-button-border-color: var( --nrcl-button-secondary-border-color );
        --nrcl-button-hover-background-color: var( --nrcl-button-secondary-hover-background-color );

        button {        
            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
                0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        }

        &.disabled {
            --nrcl-button-foreground-color: var( --nrcl-button-secondary-disabled-foreground-color );
            --nrcl-button-background-color: var( --nrcl-button-secondary-disabled-background-color );
            --nrcl-button-border-color: var( --nrcl-button-secondary-disabled-border-color );
            --nrcl-button-hover-background-color: var( --nrcl-button-secondary-disabled-hover-background-color );
        }
    }

    &.tertiary {
        --nrcl-button-foreground-color: var( --nrcl-button-tertiary-foreground-color );
        --nrcl-button-background-color: var( --nrcl-button-tertiary-background-color );
        --nrcl-button-border-color: var( --nrcl-button-tertiary-border-color );
        --nrcl-button-hover-background-color: var( --nrcl-button-tertiary-hover-background-color );

        &.disabled {
            --nrcl-button-foreground-color: var( --nrcl-button-tertiary-disabled-foreground-color );
            --nrcl-button-background-color: var( --nrcl-button-tertiary-disabled-background-color );
            --nrcl-button-border-color: var( --nrcl-button-tertiary-disabled-border-color );
            --nrcl-button-hover-background-color: var( --nrcl-button-tertiary-disabled-hover-background-color );
        }
    }

    &.anchor {
        --nrcl-button-foreground-color: var( --nrcl-button-anchor-foreground-color );
        --nrcl-button-background-color: var( --nrcl-button-anchor-background-color );
        --nrcl-button-border-color: var( --nrcl-button-anchor-border-color );
        --nrcl-button-hover-background-color: var( --nrcl-button-anchor-hover-background-color );

        a {
            &:hover {
                color: var( --nrcl-button-anchor-hover-foreground-color );
            }
            
            .label, .content {
                text-decoration: underline;
            }
        }

        &.disabled {
            --nrcl-button-foreground-color: var( --nrcl-button-anchor-disabled-foreground-color );
            --nrcl-button-background-color: var( --nrcl-button-anchor-disabled-background-color );
            --nrcl-button-border-color: var( --nrcl-button-anchor-disabled-border-color );
            --nrcl-button-hover-background-color: var( --nrcl-button-anchor-disabled-hover-background-color );
        }
    }
}
