@use "sass:meta";

::ng-deep :root {
    --nrcl-button-height: 36px;
    --nrcl-compact-button-height: 44px;

    --nrcl-button-foreground-color: black;
    --nrcl-button-background-color: white;
    --nrcl-button-border-color: #003366;
    --nrcl-button-hover-background-color: #f5f5f5;

    --nrcl-button-primary-foreground-color: white;
    --nrcl-button-primary-background-color: #003366;
    --nrcl-button-primary-border-color: #003366;
    --nrcl-button-primary-hover-background-color: #144a89cc;

    --nrcl-button-disabled-foreground-color: #7E7E7E;
    --nrcl-button-disabled-background-color: #CCCCCC;
    --nrcl-button-disabled-border-color: #CCCCCC;
    --nrcl-button-disabled-hover-background-color: #CCCCCC;
}

:host {
    ::ng-deep {
        @include meta.load-css('../../styles/include/mat-icon');
    }

    button {
        height: var( --nrcl-button-height );
        cursor: pointer;

        .label, .content {
            font-family: var( --nrcl-font-family );
            font-size: var( --nrcl-font-size );
            white-space: nowrap;
            font-weight: 500;
        }

        margin: 0;
        padding: 0;
        padding-top: 0;
        padding-bottom: 0;

        display: flex;
        align-items: center;
        position: relative;

        background-color: var( --nrcl-button-background-color );
        color: var( --nrcl-button-foreground-color );
        border-color: var( --nrcl-button-border-color );

        &:hover {
            background-color: var( --nrcl-button-hover-background-color );
        }

        border-width: 1px;
        border-style: solid;
        border-radius: 4px;

        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
            0px 2px 2px 0px rgba(0, 0, 0, 0.14),
            0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }

    &.label button {
        padding-left: 16px;
        padding-right: 16px;
    }

    &.icon-left button {
        padding-left: var( --nrcl-button-height );

        .mat-icon.left {
            position: absolute;
            left: calc( ( var( --nrcl-button-height ) - var( --nrcl-icon-size ) ) / 2 );
        }
    }

    &.icon-right button {
        padding-right: var( --nrcl-button-height );

        .mat-icon.right {
            position: absolute;
            right: calc( ( var( --nrcl-button-height ) - var( --nrcl-icon-size ) ) / 2 );
        }
    }

    &.primary button {
        background-color: var( --nrcl-button-primary-background-color );
        color: var( --nrcl-button-primary-foreground-color );
        border-color: var( --nrcl-button-primary-border-color );

        &:hover {
            background-color: var( --nrcl-button-primary-hover-background-color );
        }
    }

    &.compact button {
        height: var( --nrcl-compact-button-height );
        
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 8px;
        box-shadow: none;
        background-color: transparent;
        color: var( --nrcl-button-foreground-color );
        &:hover {
            background-color: var( --nrcl-button-hover-background-color );
        }

        .label {
            line-height: 20px;
            font-size: var( --nrcl-font-size-small );
        }
    }
    
    button .content {
        padding-left: 16px;
        padding-right: 16px;
    }

    &.disabled button {
        background-color: var( --nrcl-button-disabled-background-color );
        color: var( --nrcl-button-disabled-foreground-color );
        border-color: var( --nrcl-button-disabled-border-color );

        &:hover {
            background-color: var( --nrcl-button-disabled-hover-background-color );
        }
    }
}
