::ng-deep :root {
    --nrcl-row-list-background-color: white;
    --nrcl-row-list-alternate-background-color: #f2f2f2;
    --nrcl-row-list-hover-background-color: #d7d7d7;
    --nrcl-row-list-selected-background-color: #b6d7a8;
    --nrcl-row-list-hover-selected-background-color: #a1c193;
}

:host {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: 1px solid #c6c8cb;

    &:empty {
        border-bottom: none;
    }

    ::ng-deep {
        .mat-mdc-table {
            width: 100%;

            .mat-mdc-row {
                background-color: var( --nrcl-row-list-background-color );
                cursor: default;

                .mat-mdc-cell {
                    font-family: var(--nrcl-font-family);
                    font-size: var(--nrcl-font-size);
                    padding: 5px;
                    color: black;
                    overflow-wrap: break-word;
                }

                &:nth-child(odd):not(.selected) {
                    background-color: var( --nrcl-row-list-background-color );
                }
            
                &:nth-child(even):not(.selected) {
                    background-color: var( --nrcl-row-list-alternate-background-color );
                }

                &.selected {
                    background-color: var( --nrcl-row-list-selected-background-color );
                }
            }

            .mat-mdc-header-cell {
                font-family: var(--nrcl-font-family);
                font-size: var(--nrcl-font-size);
                padding: 5px;
                color: black;
                
                .mat-sort-header-content {
                    text-align: left;
                    align-items: flex-end;
                    font-size: var(--nrcl-font-size);
                }
            }
        }

        table.mat-mdc-table {
            .mat-mdc-row {
                &:nth-child(odd):not(.selected) {
                    background-color: var( --nrcl-row-list-alternate-background-color );
                }
            
                &:nth-child(even):not(.selected) {
                    background-color: var( --nrcl-row-list-background-color );
                }
            }
        }
    }

    &.show-row-hover ::ng-deep {
        .mat-mdc-table, table.mat-mdc-table {
            .mat-mdc-row {
                cursor: pointer;

                &:hover {
                    background-color: var( --nrcl-row-list-hover-background-color );
                }
                &:hover.selected {
                    background-color: var( --nrcl-row-list-hover-selected-background-color );
                }
            }
        }
    }
}
