::ng-deep :root {
    --nrcl-resource-schedule-item-foreground-color: black;
    --nrcl-resource-schedule-item-text-shadow:
         1px  0px 5px #ffffffa0,
        -1px  0px 5px #ffffffa0,
         0px  1px 5px #ffffffa0,
         0px -1px 5px #ffffffa0;

    --nrcl-resource-schedule-item-regular-day-background-color:    #09A748;
    --nrcl-resource-schedule-item-off-day-background-color:        #D4D2D2;
    --nrcl-resource-schedule-item-duty-day-background-color:       #2E9FE0;
    --nrcl-resource-schedule-item-standby-day-background-color:    #F6CF43;
    --nrcl-resource-schedule-item-out-of-service-background-color: #F55353;
    --nrcl-resource-schedule-item-rostered-background-color:       #BCA8F1;
    --nrcl-resource-schedule-item-hired-background-color:          #CEEDDA;
    --nrcl-resource-schedule-item-empty-background-color:          #FFFFFF;
}

:host {
    height: 100%;
    display: block;
}

.nrcl-schedule {
    ::ng-deep .inner.item {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        color: var( --nrcl-resource-schedule-item-foreground-color );

        h1, h2, h3 {
            padding: 0;
            margin: 0;
            font-weight: 200;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        h2 {
            flex-grow: 1;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            &.wrap {
                white-space: wrap;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                min-height: 0;
                overflow: hidden;
            }
        }

        &:has( h2:empty ):has( h3:empty ) {
            h1 {
                flex-grow: 1;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            h2, h3 { display: none; }
        }


        &.item-out-of-service {
            background-color: var( --nrcl-resource-schedule-item-out-of-service-background-color );
        }


        &.item-empty {
            background-color: var( --nrcl-resource-schedule-item-empty-background-color );
        }


        &.item-available-rostered {
            background-color: var( --nrcl-resource-schedule-item-rostered-background-color );
        }

        &.item-available-duty-day {
            background-color: var( --nrcl-resource-schedule-item-duty-day-background-color );
        }

        &.item-available-standby-day {
            background-color: var( --nrcl-resource-schedule-item-standby-day-background-color );
        }

        &.item-available-off-day {
            background-color: var( --nrcl-resource-schedule-item-off-day-background-color );
        }

        &.item-available-regular-day {
            background-color: var( --nrcl-resource-schedule-item-regular-day-background-color );
        }

        &.item-available-hired {
            background-color: var( --nrcl-resource-schedule-item-hired-background-color );
        }


        &.item-assigned-rostered {
            background-color: var( --nrcl-resource-schedule-item-rostered-background-color );
        }

        &.item-assigned-duty-day {
            background-color: var( --nrcl-resource-schedule-item-duty-day-background-color );
        }

        &.item-assigned-standby-day {
            background-color: var( --nrcl-resource-schedule-item-standby-day-background-color );
        }

        &.item-assigned-off-day {
            background-color: var( --nrcl-resource-schedule-item-off-day-background-color );
        }

        &.item-assigned-regular-day {
            background-color: var( --nrcl-resource-schedule-item-regular-day-background-color );
        }
    }
}
